#tableContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#coursesTable {
    width: 80%;
    border-collapse: collapse;
    background: rgb(82, 15, 15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
#coursesTable th, #coursesTable td {
    border: 1px solid #ffffff;
    padding: 1rem;
    text-align: left;
}
#coursesTable th {
    background: #ff0000;
    color: white;
}
#coursesTable tr:nth-child(even) {
    background: #200404;
}

#student-list {
    list-style-type: disc; 
    list-style-position: inside;
    padding-left: 0; 
    text-align: left; 
    display: inline-block; 
}

#search-bar {
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#search-bar:focus {
    border-color: #007BFF;
    box-shadow: 2px 2px 8px rgba(0, 123, 255, 0.3);
    outline: none;
}